name: Fix PHP Code Style

on:
  push:
    paths: ['**.php']

permissions:
  contents: write

jobs:
  php-code-styling:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: aglipanci/laravel-pint-action@2.6
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'style: fix code formatting'
