name: PHPStan

on:
  push:
    branches: [main]
    paths: ['**.php', 'phpstan.neon.dist']
  pull_request:
    branches: [main]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
      - run: composer install --prefer-dist --no-interaction
      - run: ./vendor/bin/phpstan --error-format=github
